html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*$icons-spacing: 30px;*/
.icons-sprite, .phone .mail:before, .phone .number:before, .icons .facebook, .icons .gplus, .icons .twitter, .icons .pinterest, .icons .behance, .icons .dribbble, .header-find:after, .content-info .latest-works .content-passion:before, .content-info .latest-works .content-creativity:before, .content-info .latest-works .content-quality:before, .footer .footer-info .reen .footer-logo .data:after, .footer .footer-info .reen .footer-touch .search:before, .footer .footer-info .reen .footer-touch .mobile:before, .footer .footer-info .reen .footer-touch .mailto:before {
  background-image: url('../img/icons-sf7875a0d34.png');
  background-repeat: no-repeat;
}

.wrapper {
  max-width: 1920px;
  font-family: arial, sans-serif;
}

.header {
  padding-bottom: 15px;
  margin: 0;
}

.contacts {
  width: 94%;
  margin: auto;
  padding-top: 10px;
}
.contacts-inner {
  padding-bottom: 15px;
  background-color: #f5f7fa;
}

.phone {
  float: left;
}
.phone li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  position: relative;
}
.phone .mail:before {
  content: '';
  display: block;
  width: 11px;
  height: 9px;
  background-position: -10px -13px;
  position: absolute;
  top: 5px;
  left: -20px;
}
.phone .number:before {
  content: '';
  display: block;
  width: 7px;
  height: 13px;
  background-position: -46px 0;
  position: absolute;
  top: 2px;
  left: -15px;
}

a {
  text-decoration: none;
  color: #506a85;
  font-size: 12px;
}

.icons {
  float: right;
  cursor: pointer;
}
.icons li {
  list-style: none;
  margin-right: 30px;
  display: inline-block;
}
.icons .facebook {
  background-position: -20px 0;
  width: 7px;
  height: 11px;
}
.icons .gplus {
  background-position: 0 0;
  width: 11px;
  height: 11px;
}
.icons .twitter {
  background-position: -21px -13px;
  width: 9px;
  height: 11px;
}
.icons .pinterest {
  background-position: -11px 0;
  width: 9px;
  height: 11px;
}
.icons .behance {
  background-position: -46px -130px;
  width: 13px;
  height: 8px;
}
.icons .dribbble {
  background-position: -32px -13px;
  width: 12px;
  height: 11px;
}

.header-logo {
  float: left;
  margin-top: 40px;
  margin-left: 10px;
  width: 150px;
  height: 40px;
}

.menu-inner {
  width: 94%;
  margin: auto;
}

.menu {
  float: left;
  margin-top: 55px;
  position: relative;
  margin-left: 7%;
}
.menu li {
  display: inline-block;
  list-style: none;
  margin-left: 45px;
  position: relative;
}
.menu li:first-child {
  margin-left: 0;
}
.menu > li:hover .submenu {
  display: block;
}
.menu a {
  font-size: 15px;
  color: #506a85;
  font-weight: bold;
  text-transform: uppercase;
}
.menu .submenu {
  display: none;
  position: absolute;
  width: 155px;
  height: 130px;
  top: 17px;
  left: -50px;
  padding: 0;
  margin: 0;
  background-color: #cacaca;
  border: 2px solid #506a85;
  z-index: 2;
}
.menu .submenu li a {
  display: block;
  padding: 8px 0;
  color: #0088CC;
  text-decoration: none;
}
.menu .submenu li a:hover {
  color: white;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.header-find {
  float: right;
  position: relative;
  margin-top: 55px;
}
.header-find .submit {
  opacity: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.header-find:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-position: -34px 0;
  position: absolute;
  top: 4px;
  right: 1px;
  z-index: 0;
}

.main-content {
  min-height: 882px;
  margin-top: 35px;
  background: url("/img/img-content.jpg") no-repeat 0 0;
  position: relative;
}
.main-content .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-content .content h1 {
  color: white;
  font-size: 78px;
  text-transform: uppercase;
}
.main-content .content p {
  color: #a3b1bf;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 40px;
}
.main-content .content .button {
  display: inline-block;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 70px;
  border-radius: 2px;
  border: 1px solid #00bc9c;
  background-color: #00bc9c;
  padding: 25px 70px;
}
.main-content .content .button:hover {
  background-color: #027864;
  color: white;
  border: 1px solid #027864;
}

.content-info {
  padding-bottom: 30px;
}
.content-info .main-info {
  width: 50%;
  margin: auto;
  text-align: center;
}
.content-info .main-info h2 {
  display: inline-block;
  margin-top: 131px;
  font-size: 44px;
  color: #506a85;
}
.content-info .main-info p {
  color: #73879c;
  font-size: 22px;
  line-height: 2;
  display: inline-block;
  margin-top: 35px;
}
.content-info .latest-works {
  width: 70%;
  margin: auto;
}
.content-info .latest-works .content-passion, .content-info .latest-works .content-creativity, .content-info .latest-works .content-quality {
  width: 26%;
  margin-left: 10%;
  display: inline-block;
  margin-top: 80px;
}
.content-info .latest-works .content-passion h3, .content-info .latest-works .content-creativity h3, .content-info .latest-works .content-quality h3 {
  font-size: 26px;
  color: #506a85;
  display: inline-block;
  margin-bottom: 30px;
}
.content-info .latest-works .content-passion p, .content-info .latest-works .content-creativity p, .content-info .latest-works .content-quality p {
  color: #73879c;
  font-size: 16px;
  line-height: 1.5;
}
.content-info .latest-works .content-passion, .content-info .latest-works .content-creativity, .content-info .latest-works .content-quality {
  position: relative;
}
.content-info .latest-works .content-passion:before, .content-info .latest-works .content-creativity:before, .content-info .latest-works .content-quality:before {
  content: '';
  position: absolute;
  display: block;
  width: 70px;
  height: 53px;
}
.content-info .latest-works .content-passion {
  margin-left: 5px;
}
.content-info .latest-works .content-passion:before {
  background-position: 0 -24px;
  top: 0;
  left: -90px;
}
.content-info .latest-works .content-creativity:before {
  background-position: 0 -130px;
  top: 0;
  left: -75px;
  height: 67px;
  width: 46px;
}
.content-info .latest-works .content-quality:before {
  background-position: 0 -77px;
  top: 0;
  left: -90px;
}

.general-info {
  background-color: #f2f5f7;
  padding-bottom: 20px;
}
.general-info .slogan {
  width: 50%;
  margin: auto;
  text-align: center;
}
.general-info .slogan h2 {
  color: #506a85;
  font-size: 44px;
  display: inline-block;
  margin-bottom: 44px;
  margin-top: 130px;
}
.general-info .slogan p {
  color: #73879c;
  font-size: 22px;
  line-height: 2;
  display: inline-block;
  margin-bottom: 80px;
}
.general-info .works {
  width: 90%;
  margin: auto;
  text-align: center;
}
.general-info .works .frame-latest, .general-info .works .frame {
  display: inline-block;
  border: 1px solid #dfe2e3;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 80px;
}
.general-info .works .frame-latest .works-img, .general-info .works .frame-latest .works-img-2, .general-info .works .frame .works-img, .general-info .works .frame .works-img-2 {
  margin-bottom: 35px;
  max-width: 570px;
  max-height: 390px;
}
.general-info .works .frame-latest .works-img img, .general-info .works .frame-latest .works-img-2 img, .general-info .works .frame .works-img img, .general-info .works .frame .works-img-2 img {
  max-height: 100%;
  max-width: 100%;
}
.general-info .works .frame-latest h4, .general-info .works .frame h4 {
  color: #506a85;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 20px;
}
.general-info .works .frame-latest p, .general-info .works .frame p {
  color: #73879c;
  font-size: 14px;
}
.general-info .works .frame-latest .text, .general-info .works .frame .text {
  padding-bottom: 35px;
}
.general-info .works .frame {
  margin-left: 30px;
}
.general-info .slider {
  width: 77%;
  margin: auto;
}
.general-info .slider .img {
  text-align: center;
  margin-bottom: 45px;
}
.general-info .slider .img li {
  width: 270px;
  height: 185px;
  display: inline-block;
  margin-left: 30px;
}
.general-info .slider .img li:first-child {
  margin-left: 0;
}

.information {
  min-height: 485px;
  position: relative;
}
.information .information-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.information .information-content h2 {
  color: #506a85;
  font-size: 44px;
  display: inline-block;
  margin-bottom: 40px;
}
.information .information-content p {
  color: #73879c;
  font-size: 22px;
  line-height: 2;
  display: inline-block;
  margin-bottom: 50px;
}
.information .information-content .button-info {
  display: inline-block;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid #00bc9c;
  background-color: #00bc9c;
  padding: 20px 25px;
}
.information .information-content .button-info:hover {
  background-color: #027864;
  color: white;
  border: 1px solid #027864;
}

.footer .footer-info {
  background-color: #2f4052;
}
.footer .footer-info h4 {
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  display: block;
  margin-bottom: 30px;
}
.footer .footer-info p, .footer .footer-info a {
  color: #a3b1bf;
  font-size: 14px;
  line-height: 1.5;
}
.footer .footer-info .reen {
  width: 80%;
  margin: auto;
  padding: 45px;
}
.footer .footer-info .reen .footer-logo, .footer .footer-info .reen .footer-latest-works, .footer .footer-info .reen .footer-touch, .footer .footer-info .reen .footer-updates {
  display: inline-block;
  vertical-align: top;
  margin-left: 80px;
}
.footer .footer-info .reen .footer-logo {
  margin-left: 0;
  width: 20%;
}
.footer .footer-info .reen .footer-logo img {
  display: inline-block;
  margin-bottom: 25px;
}
.footer .footer-info .reen .footer-logo p {
  display: inline-block;
  margin-bottom: 30px;
}
.footer .footer-info .reen .footer-logo .data {
  font-weight: bold;
  position: relative;
}
.footer .footer-info .reen .footer-logo .data:after {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 8px;
  background-position: 0 -13px;
  top: 4px;
  left: 103px;
}
.footer .footer-info .reen .footer-latest-works {
  width: 20%;
}
.footer .footer-info .reen .footer-touch {
  width: 20%;
}
.footer .footer-info .reen .footer-touch p {
  display: inline-block;
  margin-bottom: 25px;
}
.footer .footer-info .reen .footer-touch ul {
  margin-left: 15px;
}
.footer .footer-info .reen .footer-touch .search {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  color: #a3b1bf;
  font-size: 14px;
}
.footer .footer-info .reen .footer-touch .search:before {
  content: '';
  position: absolute;
  display: block;
  width: 7px;
  height: 12px;
  background-position: -27px 0;
  top: 4px;
  left: -12px;
}
.footer .footer-info .reen .footer-touch .mobile {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}
.footer .footer-info .reen .footer-touch .mobile:before {
  content: '';
  position: absolute;
  display: block;
  width: 7px;
  height: 12px;
  background-position: -46px 0;
  top: 4px;
  left: -12px;
}
.footer .footer-info .reen .footer-touch .mailto {
  position: relative;
}
.footer .footer-info .reen .footer-touch .mailto:before {
  content: '';
  position: absolute;
  display: block;
  width: 11px;
  height: 9px;
  background-position: -10px -13px;
  top: 6px;
  left: -14px;
}
.footer .footer-info .reen .footer-updates {
  width: 18%;
}
.footer .footer-info .reen .footer-updates p {
  display: inline-block;
  margin-bottom: 25px;
}
.footer .footer-info .reen .footer-updates .footer-subscribe {
  position: relative;
  width: 260px;
}
.footer .footer-info .reen .footer-updates .footer-subscribe .email {
  background-color: #4e5c6c;
  display: block;
  width: 157px;
  height: 40px;
  border: 1px solid #4e5c6c;
  border-radius: 3px;
  padding-right: 100px;
  padding-left: 10px;
  color: #828e99;
  text-transform: capitalize;
  font-size: 14px;
}
.footer .footer-info .reen .footer-updates .footer-subscribe .submit {
  position: absolute;
  display: inline-block;
  background-color: #00bc9c;
  color: white;
  border: 1px solid #4e5c6c;
  border-radius: 3px;
  padding: 10px;
  top: 4px;
  right: -5px;
  cursor: pointer;
}
.footer .footer-menu {
  background-color: #283645;
  min-height: 83px;
}
.footer .footer-menu .footer-contact {
  width: 80%;
  margin: auto;
}
.footer .footer-menu .footer-contact .footer-nav {
  float: right;
  margin-top: 35px;
}
.footer .footer-menu .footer-contact .footer-nav li {
  display: inline-block;
  margin-left: 25px;
}
.footer .footer-menu .footer-contact .footer-nav a {
  color: #707e8c;
  font-size: 14px;
}
.footer .footer-menu .footer-contact .copyright {
  float: left;
}
.footer .footer-menu .footer-contact .copyright p {
  color: #707e8c;
  font-size: 14px;
  display: inline-block;
  margin-top: 35px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  border-radius: 20px;
  background-color: #506a85;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 10px;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: #00bc9c;
}

@media screen and (max-width: 1585px) {
  .menu {
    margin-left: 2%;
  }
  .menu li {
    margin-left: 20px;
  }
}
@media screen and (max-width: 960px) {
  .main-content .content h1 {
    font-size: 65px;
  }
  .main-content .content p {
    font-size: 20px;
  }
  .main-content .content .button {
    font-size: 14px;
    padding: 18px 38px;
  }
}
@media screen and (max-width: 565px) {
  .main-content .content h1 {
    font-size: 50px;
  }
  .main-content .content p {
    font-size: 18px;
  }
  .main-content .content .button {
    padding: 13px 25px;
    font-size: 12px;
  }
}
@media screen and (max-width: 1145px) {
  .content-info .main-info {
    width: 54%;
  }
}
@media screen and (max-width: 800px) {
  .content-info .main-info {
    width: 54%;
  }
  .content-info .main-info h2 {
    font-size: 38px;
  }
  .content-info .main-info p {
    font-size: 20px;
  }
}
@media screen and (max-width: 676px) {
  .content-info .main-info {
    width: 54%;
  }
  .content-info .main-info h2 {
    font-size: 30px;
  }
  .content-info .main-info p {
    font-size: 16px;
  }
}
@media screen and (max-width: 460px) {
  .content-info .main-info {
    width: 54%;
  }
  .content-info .main-info h2 {
    font-size: 27px;
  }
  .content-info .main-info p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1368px) {
  .content-info .latest-works {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .content-info .latest-works {
    width: 86%;
  }
  .content-info .latest-works .content-passion:before, .content-info .latest-works .content-creativity:before, .content-info .latest-works .content-quality:before {
    background-size: 35px;
  }
  .content-info .latest-works .content-passion:before {
    top: 0;
    background-position: 0 -13px;
    width: 36px;
    height: 31px;
    left: -46px;
  }
  .content-info .latest-works .content-creativity:before {
    top: 0;
    background-position: 0 -74px;
    width: 26px;
    height: 38px;
    left: -39px;
  }
  .content-info .latest-works .content-quality:before {
    top: 0;
    background-position: 0 -44px;
    width: 36px;
    height: 30px;
    left: -46px;
  }
}
@media screen and (max-width: 1116px) {
  .content-info .latest-works {
    width: 95%;
  }
  .content-info .latest-works .content-passion, .content-info .latest-works .content-creativity, .content-info .latest-works .content-quality {
    margin-left: 5%;
  }
}
@media screen and (max-width: 882px) {
  .content-info .latest-works .content-passion, .content-info .latest-works .content-creativity, .content-info .latest-works .content-quality {
    width: 44%;
  }
}
@media screen and (max-width: 604px) {
  .content-info .latest-works {
    width: 90%;
  }
}
@media screen and (max-width: 555px) {
  .content-info .latest-works .content-passion h3, .content-info .latest-works .content-creativity h3, .content-info .latest-works .content-quality h3 {
    font-size: 22px;
  }
  .content-info .latest-works .content-passion p, .content-info .latest-works .content-creativity p, .content-info .latest-works .content-quality p {
    font-size: 13px;
  }
  .content-info .latest-works .content-passion:before, .content-info .latest-works .content-creativity:before, .content-info .latest-works .content-quality:before {
    background-size: 25px;
  }
  .content-info .latest-works .content-passion:before {
    top: 0;
    background-position: 0 -10px;
    width: 36px;
    height: 21px;
    left: -46px;
  }
  .content-info .latest-works .content-creativity:before {
    top: 0;
    background-position: 0 -53px;
    width: 18px;
    height: 38px;
    left: -39px;
  }
  .content-info .latest-works .content-quality:before {
    top: 0;
    background-position: 0 -31px;
    width: 36px;
    height: 21px;
    left: -46px;
  }
}
@media screen and (max-width: 474px) {
  .content-info .latest-works .content-passion, .content-info .latest-works .content-creativity, .content-info .latest-works .content-quality {
    width: 95%;
  }
  .content-info .latest-works .content-passion {
    margin-left: 5%;
  }
}
@media screen and (max-width: 604px) {
  .content-info .latest-works {
    padding-left: 30px;
  }
}
@media screen and (max-width: 1324px) {
  .general-info .works .frame {
    margin-left: 0;
  }
}
@media screen and (max-width: 802px) {
  .general-info .slogan p {
    font-size: 21px;
  }
}
@media screen and (max-width: 768px) {
  .general-info .slogan p {
    font-size: 20px;
  }
  .general-info .slogan h2 {
    font-size: 38px;
  }
}
@media screen and (max-width: 577px) {
  .general-info .slogan p {
    font-size: 15px;
  }
  .general-info .slogan h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 436px) {
  .general-info .slogan p {
    font-size: 14px;
  }
  .general-info .slogan h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 408px) {
  .general-info .slogan p {
    font-size: 13px;
  }
  .general-info .slogan h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 1496px) {
  .information .information-content p {
    font-size: 20px;
  }
}
@media screen and (max-width: 1073px) {
  .information .information-content p {
    font-size: 19px;
  }
  .information .information-content h2 {
    font-size: 35px;
  }
  .information .information-content .button-info {
    padding: 15px;
    font-size: 15px;
  }
}
@media screen and (max-width: 912px) {
  .information .information-content p {
    font-size: 19px;
  }
  .information .information-content h2 {
    font-size: 30px;
  }
  .information .information-content .button-info {
    padding: 12px;
    font-size: 14px;
  }
}
@media screen and (max-width: 624px) {
  .information .information-content p {
    font-size: 16px;
  }
  .information .information-content h2 {
    font-size: 25px;
  }
  .information .information-content .button-info {
    padding: 12px;
    font-size: 14px;
  }
}
@media screen and (max-width: 489px) {
  .information .information-content p {
    font-size: 13px;
  }
  .information .information-content h2 {
    font-size: 23px;
  }
  .information .information-content .button-info {
    padding: 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 1611px) {
  .footer .footer-info .reen .footer-latest-works {
    width: 21%;
  }
}
@media screen and (max-width: 1535px) {
  .footer .footer-info .reen .footer-logo {
    width: 30%;
    margin-bottom: 55px;
  }
  .footer .footer-info .reen .footer-latest-works {
    width: 30%;
  }
  .footer .footer-info .reen .footer-touch {
    width: 25%;
  }
  .footer .footer-info .reen .footer-updates {
    margin-left: 0;
    width: 25%;
  }
}
@media screen and (max-width: 1432px) {
  .footer .footer-info .reen .footer-touch {
    width: 23%;
  }
}
@media screen and (max-width: 1254px) {
  .footer .footer-info .reen .footer-logo {
    width: 50%;
  }
  .footer .footer-info .reen .footer-latest-works {
    width: 38%;
  }
  .footer .footer-info .reen .footer-touch {
    width: 55%;
    margin-left: 0;
  }
  .footer .footer-info .reen .footer-touch .mobile {
    display: block;
  }
  .footer .footer-info .reen .footer-updates {
    width: 37%;
    margin-left: 30px;
  }
}
@media screen and (max-width: 894px) {
  .footer .footer-info .reen .footer-logo {
    width: 40%;
  }
  .footer .footer-info .reen .footer-touch {
    width: 47%;
  }
}
@media screen and (max-width: 855px) {
  .footer .footer-info .reen h4 {
    font-size: 14px;
  }
  .footer .footer-info .reen p {
    font-size: 12px;
  }
  .footer .footer-info .reen a {
    font-size: 12px;
  }
  .footer .footer-info .reen .footer-logo {
    width: 35%;
  }
  .footer .footer-info .reen .footer-latest-works {
    width: 40%;
  }
  .footer .footer-info .reen .footer-touch {
    width: 42%;
  }
  .footer .footer-info .reen .footer-touch .search {
    font-size: 13px;
  }
  .footer .footer-info .reen .footer-updates {
    width: 36%;
  }
  .footer .footer-info .reen .footer-updates .footer-subscribe .email {
    width: 125px;
    height: 30px;
    font-size: 12px;
  }
  .footer .footer-info .reen .footer-updates .footer-subscribe .submit {
    font-size: 10px;
    padding: 6px;
    right: 27px;
  }
}
@media screen and (max-width: 813px) {
  .footer .footer-info .reen .footer-logo {
    width: 31%;
  }
  .footer .footer-info .reen .footer-latest-works {
    width: 41%;
  }
}
@media screen and (max-width: 793px) {
  .footer .footer-info .reen {
    width: 88%;
  }
  .footer .footer-info .reen .footer-logo {
    width: 40%;
  }
  .footer .footer-info .reen .footer-latest-works {
    width: 45%;
  }
  .footer .footer-info .reen .footer-touch {
    width: 35%;
  }
  .footer .footer-info .reen .footer-updates {
    width: 40%;
    margin-left: 116px;
  }
}
@media screen and (max-width: 749px) {
  .footer .footer-info .reen {
    width: 85%;
  }
}
@media screen and (max-width: 653px) {
  .footer .footer-info .reen {
    width: 89%;
  }
  .footer .footer-info .reen .footer-logo {
    width: 39%;
  }
  .footer .footer-info .reen .footer-touch {
    width: 32%;
  }
}
@media screen and (max-width: 650px) {
  .footer .footer-info .reen .footer-latest-works {
    width: 46%;
  }
}
@media screen and (max-width: 644px) {
  .footer .footer-info .reen .footer-logo {
    width: 29%;
  }
  .footer .footer-info .reen .footer-latest-works {
    width: 50%;
  }
  .footer .footer-info .reen .footer-updates {
    margin-left: 60px;
  }
}
@media screen and (max-width: 627px) {
  .footer .footer-info .reen {
    padding: 5%;
  }
  .footer .footer-info .reen .footer-touch {
    width: 35%;
  }
}
@media screen and (max-width: 589px) {
  .footer .footer-info .reen {
    width: 90%;
  }
}
@media screen and (max-width: 525px) {
  .footer .footer-info .reen {
    padding: 20px;
  }
  .footer .footer-info .reen .footer-latest-works {
    width: 51%;
    margin-left: 60px;
  }
}
@media screen and (max-width: 513px) {
  .footer .footer-info h4 {
    margin-bottom: 18px;
  }
  .footer .footer-info .reen .footer-updates {
    width: 27%;
    margin-left: 31px;
  }
  .footer .footer-info .reen .footer-updates .footer-subscribe .email {
    width: 80px;
    height: 27px;
    font-size: 12px;
  }
  .footer .footer-info .reen .footer-updates .footer-subscribe .submit {
    font-size: 8px;
    padding: 7px;
    right: 72px;
    top: 2px;
  }
  .footer .footer-info .reen .footer-latest-works {
    width: 58%;
  }
  .footer .footer-info .reen .footer-touch {
    width: 40%;
  }
}
@media screen and (max-width: 510px) {
  .footer .footer-info .reen .footer-logo {
    width: 90%;
  }
  .footer .footer-info .reen .footer-latest-works {
    width: 70%;
    margin-left: 0;
    margin-bottom: 15px;
  }
  .footer .footer-info .reen .footer-touch {
    width: 90%;
    margin-bottom: 15px;
  }
  .footer .footer-info .reen .footer-touch .mobile {
    display: block;
  }
  .footer .footer-info .reen .footer-updates {
    width: 85%;
    margin-left: 0;
  }
}
@media screen and (max-width: 414px) {
  .footer .footer-info .reen .footer-latest-works {
    width: 75%;
  }
  .footer .footer-info .reen .footer-updates .footer-subscribe .email {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 393px) {
  .footer .footer-info .reen .footer-latest-works {
    width: 80%;
  }
}
@media screen and (max-width: 792px) {
  .footer .footer-menu .footer-contact {
    width: 90%;
  }
}
@media screen and (max-width: 713px) {
  .footer .footer-menu .footer-contact {
    width: 95%;
  }
  .footer .footer-menu .footer-contact .copyright p {
    font-size: 12px;
  }
  .footer .footer-menu .footer-contact .footer-nav a {
    font-size: 12px;
  }
}
@media screen and (max-width: 614px) {
  .footer .footer-menu .footer-contact .footer-nav li {
    margin-left: 20px;
  }
  .footer .footer-menu .footer-contact .copyright p {
    margin-top: 39px;
  }
}
@media screen and (max-width: 616px) {
  .footer .footer-menu .footer-contact .footer-nav li:first-child {
    margin-left: 0;
  }
}
@media screen and (max-width: 561px) {
  .footer .footer-menu .footer-contact {
    text-align: center;
    padding-top: 5px;
  }
  .footer .footer-menu .footer-contact .copyright {
    float: none;
  }
  .footer .footer-menu .footer-contact .footer-nav {
    float: none;
    margin-top: 0;
  }
}
@media screen and (max-width: 1047px) {
  .header-find {
    position: absolute;
    right: 55px;
    top: 0;
  }

  .menu {
    float: right;
  }
}
@media screen and (max-width: 886px) {
  .menu-inner {
    text-align: center;
  }
  .menu-inner .menu {
    float: none;
    clear: both;
  }
}
@media screen and (max-width: 400px) {
  .phone {
    width: 50%;
  }

  .icons {
    width: 50%;
  }
}
