html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.icons-sprite, .phone .mail:before, .phone .number:before, .icons .facebook, .icons .gplus, .icons .twitter, .icons .pinterest, .icons .behance, .icons .dribbble, .header-find .header-find:after {
  background-image: url('../img/icons-s7740070f82.png');
  background-repeat: no-repeat;
}

.wrapper {
  max-width: 1920px;
  font-family: arial, sans-serif;
}

.header {
  height: 153px;
  margin: 0;
}

.contacts-inner {
  height: 41px;
  background-color: #f5f7fa;
}

.contacts {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.phone {
  float: left;
}
.phone li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  position: relative;
}

a {
  text-decoration: none;
  color: #506a85;
  font-size: 12px;
}

.phone .mail:before {
  content: '';
  display: block;
  width: 11px;
  height: 9px;
  background-position: -13px -13px;
  position: absolute;
  top: 5px;
  left: -20px;
}

.phone .number:before {
  content: '';
  display: block;
  width: 7px;
  height: 13px;
  background-position: -35px 0;
  position: absolute;
  top: 2px;
  left: -15px;
}

.icons {
  float: right;
}
.icons li {
  list-style: none;
  margin-right: 30px;
  display: inline-block;
}
.icons .facebook {
  background-position: -9px 0;
  width: 7px;
  height: 11px;
}
.icons .gplus {
  background-position: -47px -13px;
  width: 11px;
  height: 11px;
}
.icons .twitter {
  background-position: -24px -13px;
  width: 9px;
  height: 11px;
}
.icons .pinterest {
  background-position: 0 0;
  width: 9px;
  height: 11px;
}
.icons .behance {
  background-position: 0 -13px;
  width: 13px;
  height: 8px;
}
.icons .dribbble {
  background-position: -35px -13px;
  width: 12px;
  height: 11px;
}

.header-logo {
  float: left;
  margin-top: 40px;
  margin-left: 10px;
  width: 150px;
  height: 40px;
}

.menu-inner {
  width: 80%;
  margin: auto;
}

.menu {
  float: left;
  margin-top: 55px;
  position: relative;
  margin-left: 7%;
}
.menu li {
  display: inline-block;
  list-style: none;
  margin-left: 45px;
  position: relative;
}
.menu a {
  font-size: 15px;
  color: #506a85;
  font-weight: bold;
  text-transform: uppercase;
}
.menu .submenu {
  display: none;
  position: absolute;
  width: 155px;
  height: 130px;
  top: 17px;
  left: -50px;
  padding: 0;
  margin: 0;
  background-color: #cacaca;
  border: 2px solid #506a85;
}
.menu .submenu li a {
  display: block;
  padding: 8px 0;
  color: #0088CC;
  text-decoration: none;
}
.menu .submenu li a:hover {
  color: white;
}

.menu > li:hover .submenu {
  display: block;
}

.submenu:hover {
  display: block;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.header-find {
  float: right;
  position: relative;
  margin-top: 55px;
}
.header-find .header-find:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-position: -23px 0;
  position: absolute;
  top: 4px;
  right: 1px;
}
.header-find .submit {
  opacity: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.header-find:after {
  z-index: 0;
}

.main-content {
  height: 882px;
  margin-top: 35px;
  background: url("/img/img-content.jpg") no-repeat 0 0;
  position: relative;
}
.main-content .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-content .content h1 {
  color: white;
  font-size: 78px;
  text-transform: uppercase;
}
.main-content .content p {
  color: #a3b1bf;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 40px;
}
.main-content .content .button {
  display: inline-block;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 70px;
  border-radius: 2px;
  border: 1px solid #00bc9c;
  background-color: #00bc9c;
  padding: 25px 70px;
}
.main-content .content .button:hover {
  background-color: #027864;
  color: white;
  border: 1px solid #027864;
}
