@import 'compass';
@import "compass/reset";

/*$icons-spacing: 30px;*/
$icons-layout: smart;
@import "icons/*.png";

.wrapper {
  max-width: 1920px;
  font-family: arial, sans-serif;
}

.header {
  height: 153px;
  margin: 0;
}

.contacts {
  width: 80%;
  margin: auto;
  padding-top: 10px;
  &-inner {
    height: 41px;
    background-color: #f5f7fa;

  }
}

.phone {
  float: left;

  li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    position: relative;
  }

  .mail {
    &:before {
      content: '';
      display: block;
      width: 11px;
      height: 9px;
      @include icons-sprite(ico-mail);
      position: absolute;
      top: 5px;
      left: -20px;
    }
  }

  .number {
    &:before {
      content: '';
      display: block;
      width: 7px;
      height: 13px;
      @include icons-sprite(ico-mobile);
      position: absolute;
      top: 2px;
      left: -15px;
    }
  }

}

a {
  text-decoration: none;
  color: #506a85;
  font-size: 12px;
}

.icons {
  float: right;
  cursor: pointer;

  li {
    list-style: none;
    margin-right: 30px;
    display: inline-block;
  }
  .facebook {
    @include icons-sprite(ico-facebook);
    width: 7px;
    height: 11px;
  }
  .gplus {
    @include icons-sprite(ico-gplus);
    width: 11px;
    height: 11px;
  }
  .twitter {
    @include icons-sprite(icon-twitter);
    width: 9px;
    height: 11px;
  }
  .pinterest {
    @include icons-sprite(ico-pinterest);
    width: 9px;
    height: 11px;
  }

  .behance {
    @include icons-sprite(ico-behance);
    width: 13px;
    height: 8px;
  }
  .dribbble {
    @include icons-sprite(ico-dribbble);
    width: 12px;
    height: 11px;
  }
}

.header-logo {
  float: left;
  margin-top: 40px;
  margin-left: 10px;
  width: 150px;
  height: 40px;
}

.menu-inner {
  width: 80%;
  margin: auto;
}

.menu {
  float: left;
  margin-top: 55px;
  position: relative;
  margin-left: 7%;

  li {
    display: inline-block;
    list-style: none;
    margin-left: 45px;
    position: relative;
  }

   & > li {
    &:hover {
      .submenu {
        display: block;
      }
    }
  }
  a {
    font-size: 15px;
    color: #506a85;
    font-weight: bold;
    text-transform: uppercase;
  }
  .submenu {
    display: none;
    position: absolute;
    width: 155px;
    height: 130px;
    top: 17px;
    left: -50px;
    padding: 0;
    margin: 0;
    background-color: #cacaca;
    border: 2px solid #506a85;
    z-index: 2;
    li {
      a {
        display: block;
        padding: 8px 0;
        color: #0088CC;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.clear {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.header-find {
  float: right;
  position: relative;
  margin-top: 55px;

  .submit {
    opacity: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
}

.header-find {
  &:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    @include icons-sprite(ico-search);
    position: absolute;
    top: 4px;
    right: 1px;
    z-index: 0;
  }
}

.main-content {
  min-height: 882px;
  margin-top: 35px;
  background: url("/img/img-content.jpg") no-repeat 0 0;
  position: relative;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      color: white;
      font-size: 78px;
      text-transform: uppercase;
    }
    p {
      color: #a3b1bf;
      font-size: 24px;
      line-height: 1.5;
      margin-top: 40px;
    }

    .button {
      display: inline-block;
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 70px;
      border-radius: 2px;
      border: 1px solid #00bc9c;
      background-color: #00bc9c;
      padding: 25px 70px;
      &:hover {
        background-color: #027864;
        color: white;
        border: 1px solid #027864;
      }
    }

  }
}

.content-info {
  padding-bottom: 15px;

  .main-info {
    width: 50%;
    margin: auto;
    text-align: center;
    h2 {
      display: inline-block;
      margin-top: 131px;
      font-size: 44px;
      color: #506a85;
    }
    p {
      color: #73879c;
      font-size: 22px;
      line-height: 2;
      display: inline-block;
      margin-top: 35px;
    }
  }
  .latest-works {
    width: 70%;
    margin: auto;

    .content {
      &-passion, &-creativity, &-quality {
        width: 26%;
        margin-left: 130px;
        display: inline-block;
        margin-top: 80px;

        h3 {
          font-size: 26px;
          color: #506a85;
          display: inline-block;
          margin-bottom: 30px;
        }
        p {
          color: #73879c;
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }

    .content {
      &-passion, &-creativity, &-quality {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          display: block;
          width: 70px;
          height: 53px;
        }
      }
      &-passion {
        margin-left: 5px;
        &:before {
          @include icons-sprite(ico-heart);
          top: 0;
          left: -90px;
        }
      }
      &-creativity {
        &:before {
          @include icons-sprite(ico-lamp);
          top: 0;
          left: -75px;
          height: 67px;
          width: 46px;
        }
      }
      &-quality {
        &:before {
          @include icons-sprite(ico-star);
          top: 0;
          left: -90px;
        }
      }
    }
  }
}
.general-info {
  height: 1270px;
  background-color: #f2f5f7;
  .slogan {
    width: 50%;
    margin: auto;
    text-align: center;
    h2 {
      color: #506a85;
      font-size: 44px;
      display: inline-block;
      margin-bottom: 44px;
      margin-top: 130px;
    }
    p {
      color: #73879c;
      font-size: 22px;
      line-height: 2;
      display: inline-block;
      margin-bottom: 80px;
    }
  }
  .works {
    width: 70%;
    margin: auto;
    text-align: center;
    .frame-latest, .frame {
      display: inline-block;
      border: 1px solid #dfe2e3;
      border-radius: 2px;
      background-color: white;
      margin-bottom: 80px;
      .works-img, .works-img-2 {
        margin-bottom: 35px;
      }
      h4 {
        color: #506a85;
        font-size: 20px;
        display: inline-block;
        margin-bottom: 20px;
      }
      p {
        color: #73879c;
        font-size: 14px;
      }
      .text {
        padding-bottom: 35px;
      }
    }
    .frame {
      margin-left: 30px;
    }
  }
  .slider {
    width: 77%;
    margin: auto;
    .img {
      text-align: center;
      margin-bottom: 45px;
      li {
        width: 270px;
        height: 185px;
        display: inline-block;
        margin-left: 30px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
.information {
  height: 485px;
  position: relative;
  .information-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h2 {
      color: #506a85;
      font-size: 44px;
      display: inline-block;
      margin-bottom: 40px;
    }
    p {
      color: #73879c;
      font-size: 22px;
      line-height: 2;
      display: inline-block;
      margin-bottom: 50px;
    }
    .button-info {
       display: inline-block;
       color: white;
       font-size: 18px;
       text-transform: uppercase;
       border-radius: 3px;
       border: 1px solid #00bc9c;
       background-color: #00bc9c;
       padding: 20px 25px;
       &:hover {
         background-color: #027864;
         color: white;
         border: 1px solid #027864;
       }
     }
  }
 }
.footer {
  .footer-info {
    background-color: #2f4052;
    h4 {
      text-transform: uppercase;
      font-size: 16px;
      color: white;
      display: block;
      margin-bottom: 30px;
    }
    p, a {
      color: #a3b1bf;
      font-size: 14px;
      line-height: 1.5;
    }
    .reen {
      width: 80%;
      margin: auto;
      padding: 45px;
      .footer-logo, .footer-latest-works, .footer-touch, .footer-updates {
        display: inline-block;
        vertical-align: top;
        margin-left: 80px;
      }
      .footer-logo {
        margin-left: 0;
        width: 20%;
        img {
          display: inline-block;
          margin-bottom: 25px;
        }
        p {
          display: inline-block;
          margin-bottom: 30px;
        }
        .data {
          font-weight: bold;
          position: relative;
            &:after {
              content: '';
              position: absolute;
              display: block;
              width: 10px;
              height: 8px;
              @include icons-sprite(icon-right);
              top: 4px;
              left: 103px;
            }
        }
      }
      .footer-latest-works {
        width: 20%;
      }
      .footer-touch {
        width: 20%;
        p {
          display: inline-block;
          margin-bottom: 25px;
        }
        ul {
          margin-left: 15px;
        }
        .search {
          display: inline-block;
          margin-bottom: 10px;
          position: relative;
          color: #a3b1bf;
          font-size: 14px;
            &:before {
              content: '';
              position: absolute;
              display: block;
              width: 7px;
              height: 12px;
              @include icons-sprite(ico-location);
              top: 4px;
              left: -12px;
            }
        }
        .mobile {
          display: inline-block;
          margin-bottom: 10px;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            display: block;
            width: 7px;
            height: 12px;
            @include icons-sprite(ico-mobile);
            top: 4px;
            left: -12px;
          }
        }
        .mailto {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            display: block;
            width: 11px;
            height: 9px;
            @include icons-sprite(ico-mail);
            top: 6px;
            left: -14px;
          }
        }
      }
      .footer-updates {
        width: 18%;
        p {
          display: inline-block;
          margin-bottom: 25px;
        }
        .footer-subscribe {
          position: relative;
          .email {
            background-color: #4e5c6c;
            display: block;
            width: 157px;
            height: 40px;
            border: 1px solid #4e5c6c;
            border-radius: 3px;
            padding-right: 100px;
            padding-left: 10px;
            color: #828e99;
            text-transform: capitalize;
            font-size: 14px;
          }
          .submit {
            position: absolute;
            display: inline-block;
            background-color: #00bc9c;
            color: white;
            border: 1px solid #4e5c6c;
            border-radius: 3px;
            padding: 10px;
            top: 4px;
            right: 0;
            cursor: pointer;
          }
        }
      }
    }
  }





  .footer-menu {
    background-color: #283645;
    height: 83px;
    .footer-contact {
      width: 80%;
      margin: auto;
      .footer-nav {
        float: right;
        margin-top: 35px;
        li {
          display: inline-block;
          margin-left: 25px;
        }
        a {
          color: #707e8c;
          font-size: 14px;
        }
      }
      .copyright {
        float: left;
        p {
          color: #707e8c;
          font-size: 14px;
          display: inline-block;
          margin-top: 35px;
        }
      }
    }
  }
}

.bx-wrapper .bx-pager.bx-default-pager a {
  border-radius: 20px;
  background-color: #506a85;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 10px;
  &.active {
    background-color: #00bc9c;
  }
}





