@import 'compass';
@import "compass/reset";

/*$icons-spacing: 30px;*/
$icons-layout: smart;
@import "icons/*.png";

.hide {
  display: none!important;
}

.wrapper {
  max-width: 1920px;
  font-family: arial, sans-serif;
}

.header {
  margin-bottom: 35px;
}

.contacts {
  width: 94%;
  margin: auto;
  padding-top: 10px;
  &-inner {
    padding-bottom: 15px;
    background-color: #f5f7fa;

  }
}

.phone {
  float: left;

  li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    position: relative;
  }

  .mail {
    &:before {
      content: '';
      display: block;
      width: 11px;
      height: 9px;
      @include icons-sprite(ico-mail);
      position: absolute;
      top: 5px;
      left: -20px;
    }
  }

  .number {
    &:before {
      content: '';
      display: block;
      width: 7px;
      height: 13px;
      @include icons-sprite(ico-mobile);
      position: absolute;
      top: 2px;
      left: -15px;
    }
  }

}

a {
  text-decoration: none;
  color: #506a85;
  font-size: 12px;
}

.icons {
  float: right;

  li {
    list-style: none;
    margin-left: 20px;
    display: inline-block;
      &:first-child {
        margin-left: 0;
      }
      a {
        width: 9px;
        height: 11px;
        display: inline-block;
      }
  }
  .facebook a {
    @include icons-sprite(ico-facebook);
    width: 7px;
  }
  .gplus a {
    @include icons-sprite(ico-gplus);
    width: 10px;
  }
  .twitter a {
    @include icons-sprite(icon-twitter);
  }
  .pinterest a {
    @include icons-sprite(ico-pinterest);

  }

  .behance a {
    @include icons-sprite(ico-behance);
     width: 14px;
  }
  .dribbble a {
    @include icons-sprite(ico-dribbble);
     width: 12px;
  }
}

.header-logo {
  float: left;
  margin-top: 40px;
  width: 150px;
  height: 40px;
}

.menu-inner {
  width: 94%;
  margin: auto;
}

.menu {
  float: left;
  margin-top: 55px;
  position: relative;
  margin-left: 7%;

  li {
    display: inline-block;
    list-style: none;
    margin-left: 45px;
    position: relative;
  }

  & > li {
    &:first-child {
      margin-left: 0;
    }
  }
  a {
    font-size: 15px;
    color: #506a85;
    font-weight: bold;
    text-transform: uppercase;
  }
 }

.clear {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.header-find {
  float: right;
  position: relative;
  margin-top: 55px;
}

.header-search {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    @include icons-sprite(ico-search);
    position: absolute;
    top: 4px;
    right: -20px;
    z-index: 0;
    cursor: pointer;
}

.main-content {
  min-height: 882px;
  background: url("../img/img-content.jpg") no-repeat 0 0;
  position: relative;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      color: white;
      font-size: 78px;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 40px;
    }
    p {
      color: #a3b1bf;
      font-size: 24px;
      line-height: 1.5;
      display: inline-block;
      margin-bottom: 70px;
    }

    .button {
      display: inline-block;
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      border-radius: 2px;
      border: 1px solid #00bc9c;
      background-color: #00bc9c;
      padding: 25px 70px;
      &:hover {
        background-color: #027864;
        color: white;
        border: 1px solid #027864;
      }
    }

  }
}

.content-info {
  padding-bottom: 30px;

  .main-info {
    width: 50%;
    margin: auto;
    text-align: center;
    h2 {
      display: inline-block;
      margin-top: 131px;
      font-size: 44px;
      color: #506a85;
      margin-bottom: 35px;
    }
    p {
      color: #73879c;
      font-size: 22px;
      line-height: 2;
      display: inline-block;
    }
  }
  .latest-works {
    width: 70%;
    margin: auto;

    .content {
      &-passion, &-creativity, &-quality {
        width: 26%;
        margin-left: 10%;
        display: inline-block;
        margin-top: 80px;

        h3 {
          font-size: 26px;
          color: #506a85;
          display: inline-block;
          margin-bottom: 30px;
        }
        p {
          color: #73879c;
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }

    .content {
      &-passion, &-creativity, &-quality {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          display: block;
          width: 70px;
          height: 53px;
        }
      }
      &-passion {
        margin-left: 5px;
        &:before {
          @include icons-sprite(ico-heart);
          top: 0;
          left: -90px;
        }
      }
      &-creativity {
        &:before {
          @include icons-sprite(ico-lamp);
          top: 0;
          left: -75px;
          height: 67px;
          width: 46px;
        }
      }
      &-quality {
        &:before {
          @include icons-sprite(ico-star);
          top: 0;
          left: -90px;
        }
      }
    }
  }
}

.general-info {
  background-color: #f2f5f7;
  padding-bottom: 20px;
  .slogan {
    width: 50%;
    margin: auto;
    text-align: center;
    h2 {
      color: #506a85;
      font-size: 44px;
      display: inline-block;
      margin-bottom: 44px;
      margin-top: 130px;
    }
    p {
      color: #73879c;
      font-size: 22px;
      line-height: 2;
      display: inline-block;
      margin-bottom: 80px;
    }
  }
  .works {
    width: 90%;
    margin: auto;
    text-align: center;
    .frame-latest, .frame {
      display: inline-block;
      border: 1px solid #dfe2e3;
      border-radius: 2px;
      background-color: white;
      margin-bottom: 80px;
      .works-img, .works-img-2 {
        margin-bottom: 35px;
        max-width: 570px;
        max-height: 390px;
        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
      h4 {
        color: #506a85;
        font-size: 20px;
        display: inline-block;
        margin-bottom: 20px;
      }
      p {
        color: #73879c;
        font-size: 14px;
      }
      .text {
        padding-bottom: 35px;
      }
    }
    .frame {
      margin-left: 30px;
    }
  }
  .slider {
    width: 77%;
    margin: auto;
    .img {
      text-align: center;
      margin-bottom: 45px;
      li {
        width: 270px;
        height: 185px;
        display: inline-block;
        margin-left: 30px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.information {
  min-height: 485px;
  position: relative;
  .information-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h2 {
      color: #506a85;
      font-size: 44px;
      display: inline-block;
      margin-bottom: 40px;
    }
    p {
      color: #73879c;
      font-size: 22px;
      line-height: 2;
      display: inline-block;
      margin-bottom: 50px;
    }
    .button-info {
      display: inline-block;
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      border-radius: 3px;
      border: 1px solid #00bc9c;
      background-color: #00bc9c;
      padding: 20px 25px;
      &:hover {
        background-color: #027864;
        color: white;
        border: 1px solid #027864;
      }
    }
  }
}

.footer {
  .footer-info {
    background-color: #2f4052;
    h4 {
      text-transform: uppercase;
      font-size: 16px;
      color: white;
      display: block;
      margin-bottom: 30px;
    }
    p, a {
      color: #a3b1bf;
      font-size: 14px;
      line-height: 1.5;
    }
    .reen {
      width: 80%;
      margin: auto;
      padding: 45px;
      .footer {
        &-logo, &-latest-works, &-touch, &-updates {
          display: inline-block;
          vertical-align: top;
          margin-left: 80px;
        }
      }
      .footer-logo {
        margin-left: 0;
        width: 20%;
        img {
          display: inline-block;
          margin-bottom: 25px;
        }
        p {
          display: inline-block;
          margin-bottom: 30px;
        }
        .data {
          font-weight: bold;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 8px;
            @include icons-sprite(icon-right);
            top: 4px;
            left: 103px;
          }
        }
      }
      .footer-latest-works {
        width: 20%;
      }
      .footer-touch {
        width: 20%;
        p {
          display: inline-block;
          margin-bottom: 25px;
        }
        ul {
          margin-left: 15px;
        }
        .search {
          display: inline-block;
          margin-bottom: 10px;
          position: relative;
          color: #a3b1bf;
          font-size: 14px;
          &:before {
            content: '';
            position: absolute;
            display: block;
            width: 7px;
            height: 12px;
            @include icons-sprite(ico-location);
            top: 4px;
            left: -12px;
          }
        }
        .mobile {
          display: inline-block;
          margin-bottom: 10px;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            display: block;
            width: 7px;
            height: 12px;
            @include icons-sprite(ico-mobile);
            top: 4px;
            left: -12px;
          }
        }
        .mailto {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            display: block;
            width: 11px;
            height: 9px;
            @include icons-sprite(ico-mail);
            top: 6px;
            left: -14px;
          }
        }
      }
      .footer-updates {
        width: 18%;
        p {
          display: inline-block;
          margin-bottom: 25px;
        }
        .footer-subscribe {
          position: relative;
          width: 260px;
          .email {
            background-color: #4e5c6c;
            display: block;
            width: 157px;
            height: 40px;
            border: 1px solid #4e5c6c;
            border-radius: 3px;
            padding-right: 100px;
            padding-left: 10px;
            color: #828e99;
            text-transform: capitalize;
            font-size: 14px;
          }
          .submit {
            position: absolute;
            display: inline-block;
            background-color: #00bc9c;
            color: white;
            border: 1px solid #4e5c6c;
            border-radius: 3px;
            padding: 10px;
            top: 4px;
            right: -5px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .footer-menu {
    background-color: #283645;
    min-height: 83px;
    .footer-contact {
      width: 80%;
      margin: auto;
      .footer-nav {
        float: right;
        margin-top: 35px;
        li {
          display: inline-block;
          margin-left: 25px;
        }
        a {
          color: #707e8c;
          font-size: 14px;
        }
      }
      .copyright {
        float: left;
        p {
          color: #707e8c;
          font-size: 14px;
          display: inline-block;
          margin-top: 35px;
        }
      }
    }
  }
}

.bx-wrapper .bx-pager.bx-default-pager a {
  border-radius: 20px;
  background-color: #506a85;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 10px;
  &.active {
    background-color: #00bc9c;
  }
}

@media screen and (max-width: 1585px) {
  .menu {
    li {
      margin-left: 20px;
    }
  }
}
@media screen and (max-width: 1130px) {
  .menu {
    margin-left: 3%;
  }
}

@media screen and (max-width: 960px) {
  .main-content .content {
    h1 {
      font-size: 65px;
    }
    p {
      font-size: 20px;
    }
    .button {
      font-size: 14px;
      padding: 18px 38px;
    }
  }
}

@media screen and (max-width: 565px) {
  .main-content .content {
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 18px;
    }
    .button {
      padding: 13px 25px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 1145px) {
  .content-info .main-info {
    width: 54%;
  }
}
@media screen and (max-width: 873px) {
  .content-info .main-info {
    width: 60%;
  }
  .information .information-content {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .content-info .main-info {
    width: 54%;
    h2 {
      font-size: 38px;
    }
    p {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 795px) {
  .content-info .main-info {
    width: 83%;
  }
}
@media screen and (max-width: 676px) {
  .content-info .main-info {
    width: 54%;
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 635px) {
  .content-info .main-info {
    width: 93%;
  }
  .information .information-content {
    width: 86%;
  }
}
@media screen and (max-width: 460px) {
  .content-info .main-info {
    width: 80%;
    h2 {
      font-size: 27px;
      margin-top: 50px;
    }
    p {
      font-size: 15px;
    }
  }
  .general-info .slogan{
    h2 {
      margin-top: 50px;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 1368px) {
  .content-info .latest-works {
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .content-info .latest-works {
    width: 86%;
    .content {
      &-passion, &-creativity, &-quality {
        &:before {
          background-size: 35px;
        }
      }
      &-passion {
        &:before {
          top: 0;
          background-position: 0 -13px;
          width: 36px;
          height: 31px;
          left: -46px;;
        }
      }
      &-creativity {
        &:before {
          top: 0;
          background-position: 0 -74px;
          width: 26px;
          height: 38px;
          left: -39px;
        }
      }
      &-quality {
        &:before {
          top: 0;
          background-position: 0 -44px;
          width: 36px;
          height: 30px;
          left: -46px;
        }
      }
    }
  }
}

@media screen and (max-width: 1116px) {
  .content-info .latest-works {
    width: 95%;
    .content {
      &-passion, &-creativity, &-quality {
        margin-left: 5%;
      }
    }
  }
}

@media screen and (max-width: 882px) {
  .content-info .latest-works {
    .content {
      &-passion, &-creativity, &-quality {
        width: 44%;
      }
    }
  }
}

@media screen and (max-width: 604px) {
  .content-info .latest-works {
    width: 90%;
  }
}

@media screen and (max-width: 555px) {
  .content-info .latest-works {
    .content {
      &-passion, &-creativity, &-quality {
        h3 {
          font-size: 22px;
        }
        p {
          font-size: 13px;
        }
        &:before {
          background-size: 25px;
        }
      }
      &-passion {
        &:before {
          top: 0;
          background-position: 0 -10px;
          width: 36px;
          height: 21px;
          left: -46px;;
        }
      }
      &-creativity {
        &:before {
          top: 0;
          background-position: 0 -53px;
          width: 18px;
          height: 38px;
          left: -39px;
        }
      }
      &-quality {
        &:before {
          top: 0;
          background-position: 0 -31px;
          width: 36px;
          height: 21px;
          left: -46px;
        }
      }
    }
  }
}

@media screen and (max-width: 474px) {
  .content-info .latest-works {
    .content {
      &-passion, &-creativity, &-quality {
        width: 95%;
      }
      &-passion {
        margin-left: 5%;
      }
    }
  }
}

@media screen and (max-width: 604px) {
  .content-info .latest-works {
    padding-left: 30px;
  }
}

@media screen and (max-width: 1324px) {
  .general-info .works .frame {
    margin-left: 0;
  }
}

@media screen and (max-width: 802px) {
  .general-info .slogan {
    p {
      font-size: 21px;
    }
  }
}

@media screen and (max-width: 768px) {
  .general-info .slogan {
    p {
      font-size: 20px;
    }
    h2 {
      font-size: 38px;
    }
  }
}

@media screen and (max-width: 577px) {
  .general-info .slogan {
    p {
      font-size: 15px;
    }
    h2 {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 436px) {
  .general-info .slogan {
    p {
      font-size: 14px;
    }
    h2 {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 408px) {
  .general-info .slogan {
    p {
      font-size: 13px;
    }
    h2 {
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 1496px) {
  .information .information-content {
    p {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1073px) {
  .information .information-content {
    p {
      font-size: 19px;
    }
    h2 {
      font-size: 35px;
    }
    .button-info {
      padding: 15px;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 912px) {
  .information .information-content {
    p {
      font-size: 19px;
    }
    h2 {
      font-size: 30px;
    }
    .button-info {
      padding: 12px;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 624px) {
  .information .information-content {
    p {
      font-size: 16px;
    }
    h2 {
      font-size: 25px;
    }
    .button-info {
      padding: 12px;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 489px) {
  .information .information-content {
    p {
      font-size: 13px;
    }
    h2 {
      font-size: 23px;
    }
    .button-info {
      padding: 10px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 1611px) {
  .footer .footer-info .reen .footer-latest-works {
    width: 21%;
  }
}

@media screen and (max-width: 1535px) {
  .footer .footer-info .reen {
    .footer-logo {
      width: 30%;
      margin-bottom: 55px;
    }
    .footer-latest-works {
      width: 30%;
    }
    .footer-touch {
      width: 25%;
    }
    .footer-updates {
      margin-left: 0;
      width: 25%;
    }
  }
}

@media screen and (max-width: 1432px) {
  .footer .footer-info .reen {
    .footer-touch {
      width: 23%;
    }
  }
}

@media screen and (max-width: 1254px) {
  .footer .footer-info .reen {
    .footer-logo {
      width: 50%;
    }
    .footer-latest-works {
      width: 38%;
    }
    .footer-touch {
      width: 55%;
      margin-left: 0;
      .mobile {
        display: block;
      }
    }
    .footer-updates {
      width: 37%;
      margin-left: 30px;
    }
  }
}

@media screen and (max-width: 894px) {
  .footer .footer-info .reen {
    .footer-logo {
      width: 40%;
    }
    .footer-touch {
      width: 47%;
    }
  }
}

@media screen and (max-width: 855px) {
  .footer .footer-info .reen {
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
    a {
      font-size: 12px;
    }
    .footer-logo {
      width: 35%;
    }
    .footer-latest-works {
      width: 40%;
    }
    .footer-touch {
      width: 42%;
      .search {
        font-size: 13px;
      }
    }
    .footer-updates {
      width: 36%;
      .footer-subscribe .email {
        width: 125px;
        height: 30px;
        font-size: 12px;
      }
      .footer-subscribe .submit {
        font-size: 10px;
        padding: 6px;
        right: 27px;
      }
    }
  }
}

@media screen and (max-width: 813px) {
  .footer .footer-info .reen {
    .footer-logo {
      width: 31%;
    }
    .footer-latest-works {
      width: 41%;
    }
  }
}

@media screen and (max-width: 793px) {
  .footer .footer-info .reen {
    width: 88%;
    .footer-logo {
      width: 40%;
    }
    .footer-latest-works {
      width: 45%;
    }
    .footer-touch {
      width: 35%;
    }
    .footer-updates {
      width: 40%;
      margin-left: 116px;
    }
  }
}

@media screen and (max-width: 749px) {
  .footer .footer-info .reen {
    width: 85%;
  }
}

@media screen and (max-width: 653px) {
  .footer .footer-info .reen {
    width: 89%;
    .footer-logo {
      width: 39%;
    }
    .footer-touch {
      width: 32%;
    }
  }
}

@media screen and (max-width: 650px) {
  .footer .footer-info .reen {
    .footer-latest-works {
      width: 46%;
    }
  }
}

@media screen and (max-width: 644px) {
  .footer .footer-info .reen {
    .footer-logo {
      width: 29%;
    }
    .footer-latest-works {
      width: 50%;
    }
    .footer-updates {
      margin-left: 60px;
    }
  }
}

@media screen and (max-width: 627px) {
  .footer .footer-info .reen {
    padding: 5%;
    .footer-touch {
      width: 35%;
    }
  }
}

@media screen and (max-width: 589px) {
  .footer .footer-info .reen {
    width: 90%;
  }
}

@media screen and (max-width: 582px) {
  .footer .footer-info .reen {
    .footer-latest-works {
      width: 54%;
    }
  }
}

@media screen and (max-width: 525px) {
  .footer .footer-info .reen {
    padding: 20px;
    .footer-latest-works {
      width: 51%;
      margin-left: 60px;
    }
  }
}

@media screen and (max-width: 513px) {
  .footer .footer-info {
    h4 {
      margin-bottom: 18px;
    }
    .reen {
      .footer-updates {
        width: 27%;
        margin-left: 31px;
        .footer-subscribe .email {
          width: 80px;
          height: 27px;
          font-size: 12px;
        }
        .footer-subscribe .submit {
          font-size: 8px;
          padding: 7px;
          right: 72px;
          top: 2px;
        }
      }
      .footer-latest-works {
        width: 58%;
      }
      .footer-touch {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 510px) {
  .footer .footer-info .reen {
    .footer-logo {
      width: 90%;
    }
    .footer-latest-works {
      width: 70%;
      margin-left: 0;
      margin-bottom: 15px;
    }
    .footer-touch {
      width: 90%;
      margin-bottom: 15px;
      .mobile {
        display: block;
      }
    }
    .footer-updates {
      width: 85%;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 414px) {
  .footer .footer-info .reen {
    .footer-latest-works {
      width: 75%;
    }
    .footer-updates {
      .footer-subscribe .email {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 393px) {
  .footer .footer-info .reen {
    .footer-latest-works {
      width: 80%;
    }
  }
}
@media screen and (max-width: 808px) {
  .footer .footer-menu .footer-contact {
    width: 85%;
  }
}
@media screen and (max-width: 792px) {
  .footer .footer-menu .footer-contact {
    width: 90%;
  }
}

@media screen and (max-width: 725px) {
  .footer .footer-menu .footer-contact {
    width: 95%;
    .copyright {
      p {
        font-size: 12px;
      }
    }
    .footer-nav {
      a {
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 681px) {
  .footer .footer-info  .reen {
    width: 86%;
  }
}
@media screen and (max-width: 671px) {
  .footer .footer-info  .reen {
    padding: 30px;
    width: 90%;
  }
}
@media screen and (max-width: 614px) {
  .footer .footer-menu .footer-contact {
    .footer-nav li {
      margin-left: 20px;
    }
    .copyright p {
      margin-top: 39px;
    }
  }
}

@media screen and (max-width: 616px) {
  .footer .footer-menu .footer-contact {
    .footer-nav {
      li:first-child {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 561px) {
  .footer .footer-menu .footer-contact {
    text-align: center;
    padding-top: 5px;
    .copyright {
      float: none;
    }
    .footer-nav {
      float: none;
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 610px) {
  .footer .footer-info  .reen {
    padding: 25px;
    width: 87%;
  }
}
@media screen and (max-width: 601px) {
  .footer .footer-info  .reen   {
    .footer-logo {
      width: 73%;
    }
    .footer-latest-works {
      margin-left: 0;
      width: 66%;
      margin-bottom: 15px;
    }
    .footer-touch {
      width: 73%;
      margin-bottom: 15px;
    }
    .footer-updates {
      margin-left: 0;
      width: 73%;
    }
  }
}

@media screen and (max-width: 1047px) {
  .header-find {
    position: absolute;
    right: 55px;
    top: 0;
  }
  .menu {
    float: right;
  }
}

@media screen and (max-width: 886px) {
  .header {
    padding: 0;
    .header-logo {
      margin-bottom: 20px;
    }
    .menu-inner {
      text-align: center;
      .menu {
        float: none;
        clear: both;
      }
    }
  }
}
@media screen and (max-width: 472px) {
  .phone {
    width: 45%;
  }
}
@media screen and (max-width: 400px) {
  .phone {
    width: 50%;
  }
  .icons {
    width: 50%;
  }
}
@media screen and (max-width: 565px) {
  .icons li {
    margin-left: 15px;
  }
}
@media screen and (max-width: 695px) {
  .menu li {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media screen and (max-width: 555px) {
  .header-find {
    top: 15px;
  }
}
@media screen and (max-width: 565px) {

}