@import 'compass';
$icons-spacing: 30px;
$icons-layout: smart;   
@import "icons/*.png";


.wrapper{
  min-width: 1920px;
  font-family: arial, sans-serif;
}
.header{
  height: 153px;
  margin: 0;
}
.contacts-inner{
  width:80%;
  margin: auto;
}
.contacts{
  height: 41px;
  background-color: #f5f7fa;

}
.phone{
  float: left;
}
.phone li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  position: relative;
}
a{
  text-decoration: none;
  color: #506a85;
  font-size: 12px;
}

.phone .mail:before {
    content: '';
    display: block;
    width: 11px;
    height: 9px;
    @include icons-sprite(ico-mail);
    position: absolute;
    top: 5px;
    left: -20px;


  }
.phone .number:before{
  content: '';
  display: block;
  width: 7px;
  height: 13px;
  @include icons-sprite(ico-mobile);
  position: absolute;
  top: 2px;
  left: -15px;
}

.icons{
  float: right;
}
.icons li{
  list-style: none;
  margin-right:30px ;
  display: inline-block;
}
.icons .facebook{
  @include icons-sprite(ico-facebook);
  width: 7px;
  height: 11px;
}
.icons .gplus{
   @include icons-sprite(ico-gplus);
   width: 11px;
   height: 11px;
 }
.icons .twitter{
  @include icons-sprite(icon-twitter);
  width: 9px;
  height: 11px;
}
.icons .pinterest{
  @include icons-sprite(ico-pinterest);
  width: 9px;
  height: 11px;
}

.icons .behance{
  @include icons-sprite(ico-behance);
  width: 13px;
  height: 8px;
}
.icons .dribbble{
  @include icons-sprite(ico-dribbble);
  width: 12px;
  height: 11px;
}
.header-img{
  float: left

}
.menu-inner{
  width: 80%;
  margin: auto;
}

.menu{
  float: left;


}
.menu li{
  display: inline-block;
  list-style: none;
  margin-left: 15px;
}
.menu a{
  font-size: 15px;
  color: #506a85;
  font-weight: bold;
  text-transform: uppercase;
}


